  <style>
    #lastUpdated {
      font-size: medium;  
    }
  </style>
  <script>
document.addEventListener('DOMContentLoaded', function() {
      const lastModified = new Date(document.lastModified);
      const day = String(lastModified.getDate()).padStart(2, '0');
      const month = String(lastModified.getMonth() + 1).padStart(2, '0');
      const year = String(lastModified.getFullYear()).slice(-2);
      const hours = lastModified.getHours();
      const minutes = String(lastModified.getMinutes()).padStart(2, '0');
      
      
      const ampm = hours >= 12 ? 'PM' : 'AM';
      const formattedHours = hours % 12 === 0 ? 12 : hours % 12;
      const formattedTime = `${formattedHours}:${minutes} ${ampm}`;
      
      const formattedDateTime = `${day}.${month}.${year} ${formattedTime}`;
      
      const lastUpdatedElement = document.getElementById('lastUpdated');
      lastUpdatedElement.innerText = 'Last Updated: ' + formattedDateTime;
    });
  </script>

<div id="footer" class="mb-5">
    <hr>
    {{ if .Site.Params.socialIcons }}
    <div class="container text-center">
        {{ range $item := .Site.Params.socialIcons }}
            <a href="{{ $item.url }}" class="{{ $item.icon }} fa-1x" title="{{ $item.title }}"></a>
        {{ end }}
    </div>
    {{ end }}
    {{ with .Site.Params.footer }}
        <div class="container text-center">
            <a href="{{ .url | absURL }}" title="{{ .text }}" {{ if .blank }}target="_blank"{{ end }}><small>{{ .text }}</small></a>
        <div class="container text-center">

  <p id="lastUpdated"><small></small></p>
        </div>
    {{ end }}

</div>


